/** Página Home **/
.list-pokemons {
	color: #666;
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 40px;

	.filter-list-pokemons {
		text-align: center;

		.inputs {
			display: flex;
			margin-bottom: 20px;

			.input-filter {
				display: flex;
				align-items: center;
			}

			.input-cod {
				padding: 5px;
				width: 40px;
				margin: 5px;
				border-radius: 5px;
				border: 1px solid #CCC;
			}
		}
	}

	.number-pokemons {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0 auto;

		.title-filter {
			margin-right: 10px;
		}

		.select-pokemons-page {
			padding: 5px;
			margin-right: 10px;
			border-radius: 5px;
			border: 1px solid #CCC;
			height: 30px;
		}
	}

	.result {
		margin: 10px;
		border: 1px solid #ccc;
		border-radius: 10px;
		transition: 0.2s;

		&:hover {
			background-color: #ebebeb;
			border-color: #666;
		}
	}

	.filter {
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 5px;
		cursor: pointer;
		padding: 0 20px;
	}

	.pages {
		display: flex;

		.button-page {
			background-color: #134c88;
			color: #ffffff;
			border-color: #134c88;
			border: 1px solid #cccccc;
			border-radius: 5px;
			padding: 0 10px;
			cursor: pointer;
		}
	}
}

/** Componente pokemon.vue **/
.pokemon {
	width: 100%;
	min-width: 250px;
	max-width: 340px;
	transition: 0.2s;
	text-align: center;
	padding: 20px 0;
	text-align: center;

	.type-pokemon {
		text-transform: capitalize;
	}

	.cod-pokemon {
		font-weight: bold;
		color: #666;
		width: 30px;
		height: 30px;
		border-radius: 50%;
	}

	.name-pokemon {
		text-transform: capitalize;
		font-weight: 600;
		display: flex;
		justify-content: space-between;
		padding: 0 30px;
	}

	.img-pokemon {
		width: 150px;
		height: 150px;
	}

	.info-pokemon {
		width: 100%;
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 768px) {
			display: block;
		}

		.title-info {
			text-transform: capitalize;
			font-weight: 600;
			width: 180px;
			text-align: left;
		}

		.progress-bar {
			width: 100%;
			max-width: 600px;
			height: 15px;
			background-color: #dfe6e9;
			border-radius: 5px;
			color: #000;
			font-size: 14px;
			display: flex;
			align-items: center;
			position: relative;
		}

		.number-power {
			position: absolute;
			color: #fff;
			width: 100%;
			text-align: left;
			padding-left: 10px;
		}

		.progress-info {
			height: 15px;
			background-color: #066ef7;
			border-radius: 5px;
		}
	}

	.details {
		display: none;
		width: 100%;
		height: 100%;

		&.show {
			display: block;
			position: fixed;
			background: rgba(0, 0, 0, 0.9);
			left: 0;
			top: 0;
		}

		.box-details {
			width: 100%;
			max-width: 600px;
			height: 95%;
			background: #fff;
			border-radius: 5px;
			color: #000;
			margin: 0 auto;
			overflow-x: hidden;
			margin-top: 10px;
			padding: 10px;
			box-sizing: border-box;
		}

		.title-pokemon {
			text-transform: uppercase;
			font-weight: 600;
			margin: 0;
			font-size: 18px;
		}

		.title-profile {
			text-transform: uppercase;
			font-size: 18px;
		}

		.close {
			width: 100%;
			font-weight: bold;
			font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
			font-size: 30px;
			text-align: right;
			position: relative;
			right: 5px;
			cursor: pointer;
			margin: 0;
		}

		.img-modal-pokemon {
			width: 100%;
			height: 150px;
			display: flex;
			justify-content: center;
		}

		.img-pokemon-details {
			width: 100px;
		}
	}
	.btn-details {
		cursor: pointer;
		text-align: center;
		margin-top: 10px;
		background-color: #ffffff;
		border-radius: 3px;
		border: 1px solid #dcdcdc;
		color: #666666;
		font-size: 16px;
		padding: 4px 15px;
		text-decoration: none;
		display: flex;
		flex-flow: column;
		margin: 0 10px;
		transition: 0.2s;

		&:hover {
			background: #666;
			color: #fff;
			border: none;
		}
	}
}
